@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';


body{
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}



@theme{
    --color-main-bg: #FAFBFB;
    --color-main-dark-bg: #20232A;
    --color-secondary-dark-bg: #33373E;
    --color-light-gray: #F7F7F7;
}

